# Frontend
frontend/node_modules
frontend/.ssh
frontend/*.hot-update.json
frontend/.env

# Backend
backend/*#
backend/*.iml
backend/*.ipr
backend/*.iws
backend/*.jar
backend/*.sw?
backend/*~
backend/.#*
backend/.*.md.html
backend/.DS_Store
backend/.classpath
backend/.factorypath
backend/.gradle
backend/.idea
backend/.metadata
backend/.project
backend/.recommenders
backend/.settings
backend/.springBeans
backend//build
backend//code
backend/MANIFEST.MF
backend/_site/
backend/activemq-data
backend/bin
backend/build
backend/build.log
backend/dependency-reduced-pom.xml
backend/dump.rdb
backend/interpolated*.xml
backend/lib/
backend/manifest.yml
backend/overridedb.*
backend/target
backend/transaction-logs
backend/.flattened-pom.xml
backend/secrets.yml
backend/.gradletasknamecache
backend/.sts4-cache